<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://doc-0c-ak-docs.googleusercontent.com/docs/securesc/bjumba218hn9r1glcha0k90ht9iv2eaq/mm62bns91e0ouravut0cmuiokn2j237q/1605585375000/10198174961803780323/10198174961803780323/1eL0U_Z4WPtFEo4GelfqYF5hJGL52EyML?e=download&amp;authuser=0&amp;nonce=c3t6nr726dt0s&amp;user=10198174961803780323&amp;hash=fvf2htsg61h8o71q4hkd6cuu6729gc75</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://were.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://dfasf.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.incompanyin.aja02</string>
				<key>bundle-version</key>
				<string>3.0.7</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>AJ_A02</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
