<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>rtmp://eu.jpqczs.com/live/6-21</string>
	<string>rtmp://eu.jpqczs.com/live/6-22</string>
	<string>rtmp://eu.jpqczs.com/live/6-24</string>
</array>
</plist>
